!!! 5
html
	head
		title NGDS Data Explorer
		<! Developed by Jessica Good Alisdairi at the Arizona Geological Survery !>
		
		<! OpenLayers Library !>
		script(type="application/javascript", src="/static/lib/OpenLayers-2.12-rc7/OpenLayers.js")
		
		<! ExtJs Libraries & stylesheet !>
		script(type="application/javascript", src="/static/lib/ext-3.4.0/adapter/ext/ext-base.js")
		script(type="application/javascript", src="/static/lib/ext-3.4.0/ext-all.js")
		link(rel="stylesheet", type="text/css", href="/static/lib/ext-3.4.0/resources/css/ext-all.css")
		script(type="application/javascript", type="text/javascript", src="/static/lib/ext-3.4.0/examples/ux/statusbar/StatusBar.js")
		link(rel="stylesheet", type="text/css", href="/static/lib/ext-3.4.0/examples/ux/statusbar/css/statusbar.css")
		
		<! GeoExt Library & stylesheet !>
		script(type="application/javascript", src="/static/lib/GeoExt/lib/GeoExt.js")
		link(rel="stylesheet", type="text/css", href="/static/lib/GeoExt/resources/css/geoext-all-debug.css")
		
		<! Google Maps API !>
		script(type="application/javascript", src="http://maps.google.com/maps/api/js?v=3.2&sensor=false")

		<! DataTip Plugin for ExtJs!>
		script(type="application/javascript", src="/static/js/DataTip.js")
		
		<! Written by Jessica Good Alisdairi !>
		script(type="application/javascript", src="/static/js/Main.js")
		script(type="application/javascript", src="/static/js/LayersPanel.js")
		script(type="application/javascript", src="/static/js/SearchPanel.js")
		script(type="application/javascript", src="/static/js/MapPanelToolbar.js")
		script(type="application/javascript", src="/static/js/HelpMenu.js")
		script(type="application/javascript", src="/static/js/Export.js")
		script(type="application/javascript", src="/static/js/Selection.js")
		script(type="application/javascript", src="/static/js/Style.js")
		script(type="application/javascript", src="/static/js/WFSRequests.js")
		script(type="application/javascript", src="/static/js/CSWRequest.js")
		link(rel="stylesheet", type="text/css", href="/static/js/myStyle.css")
		
	body
		