div.olControlScaleLine {
	right: auto;
	bottom: 20px;
	left: 70px;
	color: black;
}

div.olControlMousePosition {
    top: 0em;
	color: black;
}

div.olControlOverviewMapElement {
    padding: 5px 5px 5px 5px;
}

.olImageLoadError { 
    /* when OL encounters a 404 on WMS load, don't display the pink image */
    display: none !important;
}